<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiplash">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".SendNotificationPack.NotificationInvitation"
            android:enabled="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".user.profile.ResetPasswordActivity" />
        <activity android:name=".user.friends.FriendsActivity" />
        <activity android:name=".user.profile.ProfileActivity" />
        <activity android:name=".user.authentication.RegisterGuestActivity" />
        <activity android:name=".game.JoinGameActivity" />
        <activity android:name=".game.NewGameActivity" />
        <activity android:name=".LandingActivity" />
        <activity android:name="com.example.quiplash.user.authentication.SignUpActivity" />
        <activity android:name="com.example.quiplash.user.authentication.SignInActivity" />
        <activity android:name=".game.WaitingActivity" />
        <activity android:name=".game.InviteFriendsToGameActivity" />
        <activity android:name=".game.GameLaunchingActivity" />
        <activity android:name=".scoreboard.GlobalScoreboardActivity" />
        <activity android:name=".user.addQuestions.AddQuestionActivity" />
        <activity android:name=".game.AnswersActivity" />
        <activity android:name=".game.PrepareAnswerActivity" />
        <activity android:name=".game.ChooseAnswerActivity" />
        <activity android:name=".game.EvaluationActivity" />
        <activity android:name=".game.EndOfGameActivity" />
        <activity android:name=".user.profile.EditProfileActivity" />
        <activity android:name=".user.profile.EditPWMailActivity" />
        <activity android:name=".MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".LaunchingActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>